version: '3.8'

services:
  # Kontener z bazą danych
  db:
    image: postgres:15
    container_name: restaurant_db
    environment:
      POSTGRES_DB: restaurant_app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_HOST_AUTH_METHOD: md5
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./src/main/resources/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./src/main/resources/insert_menu_items.sql:/docker-entrypoint-initdb.d/insert_menu_items.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Kontener z aplikacją
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: restaurant_app
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DB_URL: jdbc:postgresql://db:5432/restaurant_app
      DB_USER: postgres
      DB_PASSWORD: password
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
