.bgimage {
    position: relative;
    background-image: url('../img/bg_index.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100vh; 
}

.topbar {
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgb(223, 204, 142, 0.3);
    padding: 20px 30px;
    font-size:x-large;
}

.topbar a {
    text-decoration: none;
    color:whitesmoke;
    margin-left: 50px;
    font-weight:500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

.topbar span {
    text-decoration: none;
    color:whitesmoke;
    margin-left: 50px;
    font-weight:500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

.loginbar {
    margin-right: 0;
}

.hidden {
    display: none !important;
}

#logoutButtonTopBar {
    display: inline-block;
    padding: 6px 12px;
    background-color: #e79822; /* red */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-left: 10px; /* spacing from the login label */
}

.welcome {
    color: rgba(247, 247, 247, 0.856);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: x-large;
}

.welcome h1 {
    line-height: 0;
}

.orderbutton {
    background-color: transparent; 
    border: 3px solid white; 
    color: rgba(255, 255, 255, 0.808);
    padding: 15px 15px; 
    font-size: 20px; 
    border-radius: 10px;
    cursor: pointer; 
    transition: all 0.3 ease-in-out; 
}

.orderbutton:hover {
    background-color: rgb(243, 243, 231, 0.2); 
}
