.bgimage {
    background-image: url('../img/bg_menu.png');
    background-color: rgb(233, 158, 61);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu-container {
    color: white;
    text-align: center;
    padding: 50px 150px;
    padding-right: 320px;
}

.menu-title {
    font-size: 3rem;
    margin-bottom: 30px;
}

.food-type-section {
    margin-bottom: 40px;
}

.food-type-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 15px;
    border-bottom: 1px solid #e9e6e6;  /* line between menu items */
}

.item-number {
    flex: 0 0 5%; 
    text-align: center;
    font-weight: bold;
}

.item-details {
    flex: 2; 
    padding-left: 10px;
}

.meal-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.meal-description {
    font-size: 0.9rem;
    color: rgb(201, 198, 198);
}

.item-price {
    flex: 0 0 10%;
    text-align: center;
    font-size: 1rem;
}

.item-image {
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.item-quantity {
    padding-right: 20px;
}

.item-image img {
    max-width: 100%;
    height: auto; 
    border-radius: 8px; 
}

#orderMenuButton {
    font-size: 15px;
}


